* {
    font-family: Tahoma, Verdana, serif;
}

body {
    margin: 0;
    padding: 0;
}

h1 {
    color: #666;
    margin-bottom: 15px;
    font-weight: normal;
}

h2 {
    color: #666;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 1.3rem;
}

.border-bottom {
    border-bottom: 1px solid #666;
}

p {
    font-size: 1.1rem;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.col {
    flex: 1;
    margin: 10px;
}

.nm {
    margin: 0 !important;
}

.right-align {
    text-align: right;
}

.hidden {
    display: none;
}

img {
    width: 100%;
    -webkit-box-shadow: 5px 5px 16px -2px #000000;
    box-shadow: 5px 5px 16px -2px #000000;
    border-radius: 10px;
}

table {
    width: 100%;
}

td {
    font-size: 1.1rem;
}

.align-right {
    text-align: right;
}

ul.tabbar {
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.tabbar li {
    display: inline;
    list-style: none;
    padding: 10px;
    background-color: rgb(26, 0, 69);
    margin-right: 1px;
}

ul.tabbar li a {
    color: #fff;
    text-decoration: none;
}

ul.tabbar li.active {
    background-color: rgb(83, 0, 216);
}

ul.tabbar li.active a {
    color: #fff;
    text-decoration: none;
    margin-top: 0;
}

input[type="text"] {
    padding: 8px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 1.1rem;
    background-color: rgb(26, 0, 69);
    color: #fff;
    border: 1px solid rgb(26, 0, 69);
    border-radius: 10px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: rgb(83, 0, 216);
}